<!DOCTYPE html>
{% extends "basic_app/base.html" %}
{% block body_block %}
{% load staticfiles %}
<div class="jumbotron">
  {% if registered %}
    <h1>Thank You for Registrartion</h1>
  {% else %}
      <h2>Register Yourself Here:</h2>
      <h3>Fillout this form.</h3>

      <form enctype="multipart/form-data" method="post">
        {% csrf_token %}
        {{user_form.as_p}}
        {{profile_form.as_p}}

        <input type="submit"  value="Register">
      </form>
  {% endif %}
</div>
{% endblock %}
